.stream_chat_custom {
    /* min-height: 648px; */
    height: 100%;
    width: 100%;
    padding: 0px 20px;
    /* border: 1px solid white; */
    font-size: 1em !important;
}

@media (max-width: 500px) {
    .stream_chat_custom {
        padding: 0;
    }
}

/* .str-chat__list  {
    background: #282c34;         
} */

.str-chat__date-separator {
    display: none;
}

.str-chat__message-simple-timestamp {
    /* color: white; */
    font-size: 12px;
}

svg.str-chat__message-action-icon {
    fill: white;
    height: 20px;
    width: 20px;
}

mux-player {
    height: 100%;
}

.str-chat__avatar-fallback {
    background: url("./one.svg") no-repeat center;
    /* display: none; */
    color: #00000000;
}

li > .str-chat__avatar {
    display: none;
}

.str-chat__message-simple-timestamp {
    display: none;
}

.str-chat__li--top {
    padding: 0;
}

.str-chat__li--single {
    padding: 0;
}

.str-chat__input-flat {
    padding: 0px 0px 0px 4px;
}

.str-chat__header-hamburger {
    display: none;
}

.str-chat__message {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-start;
}

.str-chat__message-inner {
    margin-left: 10px !important;
}

.str-chat__message-text-inner {
    background: white !important;
    padding: 0;
}

.str-chat__message-inner>.str-chat__message-simple__actions {
    display: none;
}

.str-chat__list .str-chat__reverse-infinite-scroll {
    padding: 20px 0px;
}

.str-chat__avatar--circle {
    order: 1 !important;
    margin: 0px 0px 0px 8px;
    display: none;
}

.str-chat__li--single .str-chat__message-text-inner {
    border: 0;
    border-radius: 0;
    display: contents;
}

.str-chat__message-simple-name {
    position: absolute;
    left: -4px;
    top: -19px;
    display: block;
    font-size: 14px;
    width: 76px;
    overflow: hidden;
    font-family: monospace;
    font-weight: bold;
    padding: 2px 7px;
    background: #0049af;
    color: white;
    border-radius: 5px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    text-align: center;
}

.str-chat__message--me::before {
    display: block;
    content: 'you';
    position: absolute;
    display: block;
    font-size: 14px;
    width: 76px;
    overflow: hidden;
    font-family: monospace;
    font-weight: bold;
    padding: 2px 7px;
    background: rgb(56, 179, 255);
    color: white;
    border-radius: 5px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    left: 6px;
    top: 9px;
    text-align: center;
}

.str-chat__message-simple-name:after {
    position: absolute;
    content: ":";
    display: block;
    width: auto;
    height: auto;
}

.str-chat__message-text {
    top: 5px;
    left: 84px;
    max-width: 250px;
}

/* .str-chat__message-simple-name {
    display: none;
} */

.str-chat__message-simple-name {

}


.str-chat__header-livestream-left--title {
    max-width: 205px;
    overflow: hidden;
    text-overflow: ellipsis;
}