.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding: 40px 0 40px 0;
  background-color: #282c34;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App-body {
  /* padding: 40px 0 40px 0; */
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  /* min-height: 100vh; */
  min-height: calc(100vh - 108px);
  overflow-y: scroll;
}

.App-button {
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  font-size: 22px;
  max-height: 48px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.App-address {
  padding: 10px 0px;
  color: white;
  font-size: 18px;
}

input {
  outline: none;
  width: auto;
  border: 0;
  float: left;
  padding: 8px 20px;
  background: white;
  width: 400px;
  height: 20px;
  font-size: 20px;
}

input.small-input {
  outline: none;
  width: auto;
  border: 0;
  float: left;
  padding: 8px 5px;
  margin: 0px 4px;
  background: white;
  width: 120px;
  height: 20px;
  font-size: 20px;
}

.flex {
  display: flex;
}

.flex.column {
  display: flex;
  flex-direction: column;
}

.flex.row {
  display: flex;
  flex-direction: row;
}

.white-border {
  border: 1px solid white;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.stream-container {
  border: 1px solid white;
  display: flex;
}

.stream-header {
  min-height: 69px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  padding: 0px 30px;
}

.stream-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 30px;
  border-top: 1px solid white;
  min-height: 76px;
}