.stream_chat_custom {
    min-height: 648px;
    height: 100%;
    width: 400px;
    border: 1px solid white;
}

.str-chat__list  {
    background: #282c34;        
}

.str-chat__date-separator {
    display: none;
}

.str-chat__message-simple-timestamp {
    color: white;
    font-size: 12px;
}

svg.str-chat__message-action-icon {
    fill: white;
    height: 20px;
    width: 20px;
}